<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= project.name %> Issue Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>

<h1><%= project.name %> Issue Tracker</h1>

<h2>Upcoming Releases</h2>
<% if upcoming_releases.empty? %>
  <p>No upcoming releases.</p>
<% else %>
  <ul>
  <% upcoming_releases.each do |r| %>
    <%
      issues = project.issues_for_release r
      num_done = issues.count_of { |i| i.closed? }
      pct_done = issues.size == 0 ? 100 : (100.0 * num_done / issues.size)
      open_issues = project.group_issues(issues.select { |i| i.open? })
    %>
    <li>
      <%= link_to r, "Release #{r.name}" %>: 
      <% if issues.empty? %>
        no issues
      <% else %>
        <%= sprintf "%.0f%%", pct_done %> complete;
        <%= open_issues.map { |n,is| n.to_s.pluralize is.size }.join(' and ') %> open.
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<h2>Past Releases</h2>
<% if past_releases.empty? %>
  <p>No past releases.</p>
<% else %>
  <ul>
  <% past_releases.sort_by { |r| r.release_time }.reverse.each do |r| %>
    <li><%= link_to r, "Release #{r.name}" %>, released <%= r.release_time.pretty_date %>. </li>
  <% end %>
  </ul>
<% end %>

<h2>Unassigned issues</h2>
<%
  issues = project.unassigned_issues
  open_issues = issues.select { |i| i.open? }
%>
<p>
  <% if issues.empty? %>
    No unassigned issues.
  <% else %>
    <%= link_to "unassigned", "unassigned issue".pluralize(issues.size).capitalize %>; <%= open_issues.size.to_pretty_s %> of them open.
  <% end %>
</p>

<% if components.size > 1 %>
  <h2>Open Issues by component</h2>
  <ul>
  <% components.each do |c| %>
    <%
      open_issues = project.group_issues(project.issues_for_component(c).select { |i| i.open? })
    %>
    <li>
      <%= link_to c, c.name %>:
      <% if open_issues.empty? %>
        no open issues.
      <% else %>
        <%= open_issues.map { |n,is| n.to_s.pluralize is.size }.join(' and ') %> open.
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<p class="footer">Generated by <a href="http://ditz.rubyforge.org/">ditz</a>.

</body>
</html>
