<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= issue.title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>

<div class="main">

<h1><%= link_issue_names project, issue.title %></h1>
<div class="backptr"><%= link_to "index", "&laquo; #{project.name} project page" %></div>

<% if issue.desc && !issue.desc.empty? %>
  <div class="description">
  <%= link_issue_names project, p(issue.desc) %>
  </div>
<% end %>

<h2>Details</h2>
<table>
  <tr>
    <td class="attrname">Id:</td>
    <td class="attrval"><span class="id"><%= issue.id %></span></td>
  </tr>

  <tr>
    <td class="attrname">Type:</td>
    <td class="attrval"><%= issue.type %></td>
  </tr>

  <tr>
    <td class="attrname">Creation time:</td>
    <td class="attrval"><%=t issue.creation_time %></td>
  </tr>

  <tr>
    <td class="attrname">Creator:</td>
    <td class="attrval"><span class="person"><%=obscured_email issue.reporter %></span></td>
  </tr>

  <% unless issue.references.empty? %>
  <tr>
    <td class="attrname">References:</td>
    <td class="attrval">
      <% issue.references.each_with_index do |r, i| %>
        [<%= i + 1 %>] <%= link_to r, r %><br/>
      <% end %>
    </td>
  </tr>

  <% end %>

  <tr>
    <td class="attrname">Release:</td>
    <td class="attrval">
      <% if release %>
        <%= link_to release, release.name %>
        <% if release.released? %>
          (released <%= release.release_time.pretty_date %>)
        <% else %>
          (unreleased)
        <% end %>
      <% else %>
        <%= link_to "unassigned", "unassigned" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td class="attrname">Component:</td>
    <td class="attrval"><%= link_to component, component.name %></td>
  </tr>

  <tr>
    <td class="attrname">Status:</td>
    <td class="attrval"> 
      <%= issue.status_string %><% if issue.closed? %>: <%= issue.disposition_string %><% end %>
      <%= issue_status_img_for issue, :class => "inline-status-image" %>
    </td>
  </tr>

  <%= extra_summary_html %>

</table>

<%= extra_details_html %>

<h2>Issue log</h2>

<table class="log">
<% issue.log_events.reverse.each_with_index do |(time, who, what, comment), i| %>
  <tr class="<%= i % 2 == 0 ? "even-row" : "odd-row" %>">
    <td class="date"><%=t time %></td>
    <td class="person"><%=obscured_email who %></td>
    <td class="message"><%=h what %></td>
  </tr>
  <% unless comment.empty? %>
    <tr><td colspan="3" class="logcomment">
    <%= link_issue_names project, comment %>
    </td></tr>
  <% end %>
  <tr><td></td></tr>
<% end %>
</table>

</div>
<div class="footer">Generated by <a href="http://ditz.rubyforge.org/">ditz</a>.</div>

</body>
</html>
