<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= project.name %> release <%= release.name %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>

<div class="main">

<h1><%= project.name %> release <%= release.name %></h1>
<div class="backptr"><%= link_to "index", "&laquo; #{project.name} project page" %></div>

<table>
  <tr>
    <td class="attrname">Status:</td>
    <td class="attrval"><%= release.status %></td>
  </tr>
  <% if release.released? %>
    <tr>
      <td class="attrname">Release time:</td>
      <td class="attrval"><%=t release.release_time %></td>
    </tr>
  <% end %>
  <tr>
    <%
      num_done = issues.count_of { |i| i.closed? }
      pct_done = issues.size == 0 ? 100 : (100.0 * num_done / issues.size)
    %>
    <td class="attrname">Completion:</td>
    <td class="attrval"><%= sprintf "%.0f%%", pct_done %></td>
  </tr>
</table>

<h2>Issues</h2>
<% if issues.empty? %>
  <p>No issues assigned to this release.</p>
<% else %>
  <%= render "issue_table", :show_component => false, :show_release => false %>
<% end %>

<h2>Release log</h2>
<table class="log">
<% release.log_events.reverse.each_with_index do |(time, who, what, comment), i| %>
  <tr class="<%= i % 2 == 0 ? "even-row" : "odd-row" %>">
  <td class="date"><%=h time %></td>
  <td class="person"><%=obscured_email who %></td>
  <td class="message"><%=h what %></td>
  </tr>
  <tr><td colspan="3" class="logcomment">
    <% if comment.empty? %>
    <% else %>
      <%= link_issue_names project, p(comment) %>
    <% end %>
  </td></tr>
  <tr><td></td></tr>
<% end %>
</table>

</div>
<div class="footer">Generated by <a href="http://ditz.rubyforge.org/">ditz</a>.</div>

</body>
</html>
